<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시글 전체 조회  -->
<mapper namespace="BoardMapper">

    <select id="getBoardList" resultType="BoardUserDTO">
        SELECT *
		FROM (
			SELECT rownum AS rnum, boardList.*
			FROM (
				SELECT
				BOARD_NUM,
				tu.USER_NUM,
				BOARD_TITLE,
				BOARD_CONTENTS,
				BOARD_UPLOAD_DATE,
				BOARD_EDIT_DATE,
				tu.USER_NICK 
				FROM TBL_BOARD tb
				INNER JOIN TBL_USER tu 
				ON tb.USER_NUM = tu.USER_NUM 
				WHERE BOARD_TITLE LIKE '%' || #{keyword} || '%' 
				ORDER BY BOARD_NUM DESC
			) boardList
			WHERE ROWNUM <![CDATA[<=]]> #{endRow}
		)
		WHERE rnum >= #{startRow}
    </select>

    <!-- 게시글 총 개수 -->
    <select id="getTotal" resultType="int">
    	SELECT COUNT(BOARD_NUM)
    	FROM TBL_BOARD
    </select>
    
    <!-- 삭제 쿼리 -->
    <delete id="deleteBoard" parameterType="int">
    	delete from TBL_BOARD
    	where BOARD_NUM = #{boardNum}
    </delete>
    
 	<!-- 해당 게시글 조회 -->
 	<select id="selectBoard" resultType="BoardImgDTO" parameterType="int">
        SELECT BOARD_NUM, TL.USER_NUM, BOARD_TITLE, BOARD_CONTENTS, BOARD_UPLOAD_DATE, BOARD_EDIT_DATE, USER_NICK
        FROM TBL_BOARD TB
        LEFT JOIN TBL_USER TL
        ON TB.USER_NUM = TL.USER_NUM 
        WHERE BOARD_NUM = #{boardNum}
 	</select>
 	
 	<!-- 글 작성 쿼리 -->
 	<insert id="insertBoard" parameterType="boardDTO">
 		INSERT INTO TBL_BOARD (BOARD_NUM, USER_NUM, BOARD_TITLE, BOARD_CONTENTS) 
 		VALUES (seq_board.nextVal, #{userNum}, #{boardTitle}, #{boardContents})
 	</insert>
 	
 	<!-- 최근 작성한 게시글 번호 조회하는 쿼리 -->
 	<select id="getCurrentBoard" resultType="int">
		SELECT seq_board.currval from dual
 	</select>
 	
    <!-- 이미지 등록 쿼리 -->
    <insert id="insertBoardImg" parameterType="UserImgDTO">
    	INSERT INTO TBL_USER_IMG
		(USER_IMG_NUM, BOARD_NUM, USER_IMG_NAME, USER_IMG_UUID)
    	VALUES(SEQ_USER_IMG.NEXTVAL, #{boardNum}, #{userImgName}, #{userImgUuid})
    </insert>
 	
    <!-- 글 수정 쿼리 -->
    <update id="editBoard" parameterType="BoardDTO">
    	update TBL_BOARD
    	set
    	BOARD_TITLE = #{boardTitle}, BOARD_CONTENTS = #{boardContents}
    	where
    	BOARD_NUM = ${boardNum}
    </update>
    <!-- 이미지 삭제 쿼리 -->
    <delete id="deleteboardImg" parameterType="int">
    	delete from TBL_USER_IMG
    	where BOARD_NUM = #{boardNum}
    </delete>
    <!--  이미지 조회 -->
    <select id="selectBoardImg" parameterType="int" resultType="UserImgDTO">
    	SELECT USER_IMG_NUM, BOARD_NUM, USER_IMG_NAME, USER_IMG_UUID
    	FROM TBL_USER_IMG
    	WHERE BOARD_NUM = #{boardNumber}
    </select>
    
</mapper>