<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginMapper">

      <select id = "Login" parameterType = "UserDTO" resultType = "int">
    	SELECT USER_NUM, USER_ID, USER_PW, USER_NICK,USER_BIRTH, USER_PH, USER_NAME, USER_JOIN_DATE
    	FROM TBL_USER
    	WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
    </select>

	<insert id="join" parameterType = "UserDTO">
		INSERT INTO TBL_USER(USER_NUM, USER_ID, USER_NICK, USER_PW, USER_BIRTH, USER_PH, USER_NAME)
		VALUES(SEQ_USER.NEXTVAL, #{userId}, #{userNick}, #{userPw}, TO_DATE(#{userBirth}, 'YYYY-MM-DD'), #{userPH}, #{userName})
	</insert>

	<select id="pwSelect" parameterType = "UserDTO">
		SELECT USER_ID, USER_PH
		FROM TBL_USER
		WHERE USER_ID = #{userId} AND USER_PH = #{userPH}
	</select>

<!-- 	<update id="" parameterType = "">
	
		UPDATE TBL_USER
		SET	#{userPw}
		WHERE USER_ID = #{userId} AND USER_PH = #{userPH}
	
	
	</update> -->

</mapper>