<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LoginMapper">

      <select id = "userLogin" parameterType = "UserDTO" resultType = "userDTO">
    	SELECT USER_NUM, USER_ID, USER_PW, USER_NICK,USER_BIRTH, USER_PH, USER_NAME, USER_JOIN_DATE
    	FROM TBL_USER
    	WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
    </select>

</mapper>