<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StudyMapper">
	<!-- 스터디 게시판 조회 : 제목으로 검색 -->
	<select id="select" resultType="StudyDTO">
	<![CDATA[
	SELECT 
		S.STUDY_NUM,
		S.STUDY_TITLE,
		S.STUDY_DEADLINE,
		S.STUDY_LIMIT,     
		S.STUDY_CATEGORY,                                            
		S.STUDY_UPLOAD_DATE,                                            
		S.STUDY_EDIT_DATE,
		(SELECT COUNT(USER_NUM) FROM TBL_LIKE tl WHERE S.STUDY_NUM = TL.STUDY_NUM AND TL.USER_NUM = 11)
	FROM TBL_STUDY S
		]]>
	</select>
	
	
	<!-- 스터디 게시글 추가 -->
	<select id="insert" resultType="StudyDTO">
		INSERT INTO TBL_STUDY (
		STUDY_NUM
		, USER_NUM
		, STUDY_TITLE
		, STUDY_DESCRIPT
		, STUDY_LOCATION
		, STUDY_START_DAY
		, STUDY_END_DAY
		, STUDY_START_TIME
		, STUDY_END_TIME
		, STUDY_LIMIT
		, STUDY_DEADLINE
		, STUDY_SHOWPH
		, STUDY_CATEGORY
		, STUDY_UPLOAD_DATE
		, STUDY_EDIT_DATE) 
		VALUES (
		SEQ_STUDY.NEXTVAL
		, #{userNum}
		, #{studyTitle}
		, #{studyDescript}
		, #{studyLocation}
		, TO_DATE(#{studyStartDay}, 'YYYY-MM-DD HH24:MI:SS')
		, TO_DATE(#{studyEndDay}, 'YYYY-MM-DD HH24:MI:SS')
		, #{studyStartTime}
		, #{studyEndTime}
		, #{studyLimit}
		, #{studyDeadline}
		, #{studyShowph}
		, #{studyCategory}
		, SYSDATE
		, SYSDATE
		)
	</select>
	
	<!-- 마지막 생성된 시퀀스 값을 가져오는 쿼리 -->
	<select id="getCurrentStudyNumber" resultType="int">
		SELECT
		seq_study.CURRVAL FROM DUAL
	</select>
</mapper>