<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

	<!-- 사용자 정보 조회 -->
	<select id="getUserInfo" parameterType="int"
		resultType="UserDTO">
		SELECT USER_NUM, USER_ID, USER_PW, USER_NICK,
		USER_BIRTH,USER_PH,USER_NAME, USER_JOIN_DATE FROM TBL_USER WHERE
		USER_NUM =
		#{userNum}
	</select>

	<!-- 닉네임 중복 확인 -->
	<select id="checkNickname" resultType="int">
		SELECT CASE WHEN (SELECT
		COUNT(1) FROM TBL_USER WHERE USER_NICK = #{userNick}) > 0 THEN 1 ELSE
		0 END FROM DUAL
	</select>

	<!-- 사용자 정보 업데이트 -->
	<update id="updateUser" parameterType="UserDTO">
		UPDATE TBL_USER SET
		USER_NICK = #{userNick}, USER_PH =#{userPH}, USER_PW = #{userPw} WHERE
		USER_ID = #{userId}
	</update>

	<!-- 해당 유저 데이터 탈퇴 -->
	<delete id="deleteUser" parameterType="int">
		DELETE FROM TBL_USER WHERE
		USER_NUM = #{userNum}
	</delete>

	<!-- 작성한 자유게시판 글 -->
	<select id="getBoardList" resultType="BoardDTO"
		parameterType="int">
		SELECT b.BOARD_NUM, b.USER_NUM, b.BOARD_TITLE, b.BOARD_CONTENTS,  TO_CHAR(b.BOARD_UPLOAD_DATE, 'YYYY-MM-DD') AS BOARD_UPLOAD_DATE, b.BOARD_EDIT_DATE,u.USER_NAME	AS BOARD_AUTHOR
		FROM TBL_BOARD b JOIN TBL_USER u ON b.USER_NUM = u.USER_NUM WHERE
		b.USER_NUM = #{userNum}
	</select>

	<!-- 신청한 스터디게시판 글 -->
	<select id="getStudyList" resultType="StudyApplyDTO" parameterType="int">
		SELECT * 
		FROM TBL_STUDY_APPLY ta 
		JOIN TBL_STUDY st ON ta.STUDY_NUM = st.STUDY_NUM
		JOIN TBL_USER u ON ta.USER_NUM = u.USER_NUM  
		WHERE ta.USER_NUM = #{userNum}
	</select>
	
	
	<!-- 찜한 목록 리스트 -->
	<select id="getLikeList" resultType="StudyDTO" parameterType="int">
		SELECT * FROM TBL_LIKE tl JOIN TBL_STUDY ts ON ts.STUDY_NUM = tl.STUDY_NUM WHERE tl.USER_NUM = #{studyNum}
	</select>
	
	<!-- 신청 스터디 취소 -->
	<delete id="deleteStudyApply" parameterType="int">
		DELETE FROM TBL_STUDY_APPLY WHERE
		STUDY_NUM = #{studyNum}
	</delete>
	

</mapper>